<div class="container row">
  <div class="axis-col-md-6 axis-col-sm-6 axis-col-xs-12">
    <div class="form">

      <form [formGroup]="addUser" >
        <div class="axis-form-group">
          <label for="name" class="axis-control-label">Name<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="text" formControlName="name" #name axis-input-clear>
          <span *ngIf="addUser.get('name').hasError('required')"><span class="axis-required-indicator">Please
              enter name.</span></span>
          <span *ngIf="addUser.controls['name'].touched && addUser.get('name').hasError('pattern')"><span class="axis-required-indicator">Special
              characters are not allowed.</span></span>
        </div>

        <div class="axis-form-group">
          <label for="id" class="axis-control-label">ID<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="text" formControlName="id" #id axis-input-clear>
          <span *ngIf="addUser.get('id').hasError('required')"><span class="axis-required-indicator">Please
              enter id.</span></span>
          <span *ngIf="addUser.controls['id'].touched && addUser.get('id').hasError('pattern')"><span class="axis-required-indicator">Please
              enter numeric characters only.</span></span>
        </div>

        <div class="axis-form-group">
          <label for="email" class="axis-control-label">Email ID<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="email" formControlName="email" #email axis-input-clear>
          <span *ngIf="addUser.get('email').hasError('required')"><span class="axis-required-indicator">Please
              enter email id.</span></span>
        </div>

        <div class="axis-form-group">
          <label for="mobile" class="axis-control-label">Mobile Number:<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="text" formControlName="mobile" #mobile axis-input-clear>
          <span *ngIf="addUser.get('mobile').hasError('required')"><span class="axis-required-indicator">Please
              enter mobile number.</span></span>
          <span *ngIf="addUser.controls['mobile'].touched && addUser.get('mobile').hasError('pattern')"><span class="axis-required-indicator">Please
              enter numeric characters only.</span></span>
        </div>

        <div class="axis-form-group">
          <label for="location" class="axis-control-label">Location<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="text" formControlName="location" #location axis-input-clear>
          <span *ngIf="addUser.get('location').hasError('required')">
            <span class="axis-required-indicator">Please enter location.</span>
          </span>
        </div>

        <div class="axis-form-group">
          <input type="button" axis-button data-kind="primary" [disabled]="!addUser.valid" value="Add" (click)="add()" />
          <input type="reset" axis-button data-kind="primary" [disabled]='!addUser.valid' value="Reset" />
        </div>


      </form>
    </div>
  </div>
</div>