<nav class="navbar navbar-default navbar-expand-md">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="" class="navbar-brand" style="cursor: pointer">User Mgmt</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="register">Register</a></li>
        <li routerLinkActive="active"><a routerLink="user">Users</a></li>
      </ul>
      
    </div>
  </div>
</nav>

<!-- <axis-navbar>
    <axis-navbar-logo>
      <span style="cursor: pointer">User Mgmt</span>
    </axis-navbar-logo>
    <axis-navbar-app-title routerLinkActive="active"><a routerLink="register">Register</a></axis-navbar-app-title>
    <axis-navbar-sub-title routerLinkActive="active"><a routerLink="user">Users</a></axis-navbar-sub-title>
  </axis-navbar> -->