<axis-navbar>
    <axis-navbar-app-title>Angular POC</axis-navbar-app-title>
</axis-navbar>

<axis-sub-navbar style="margin-bottom: 15px;">
    <axis-navbar-app-title>
        <li class="axis-navbar-item has-link" routerLinkActive="active"><a routerLink="register" style="text-decoration:none;">Register</a></li>
    </axis-navbar-app-title>
    <axis-navbar-app-title>
        <li class="axis-navbar-item has-link" routerLinkActive="active"><a routerLink="user" style="text-decoration:none;">Users</a></li>
    </axis-navbar-app-title>
    <axis-navbar-app-title>
        <li class="axis-navbar-item has-link" routerLinkActive="active"><a routerLink="form" style="text-decoration:none;">Form</a></li>
    </axis-navbar-app-title>
    <axis-navbar-app-title>
        <li class="axis-navbar-item has-link" routerLinkActive="active"><a routerLink="dynamic-form" style="text-decoration:none;">Axis</a></li>
    </axis-navbar-app-title>
</axis-sub-navbar>